{% extends 'base.html' %}
{% load static %}
{% block content %}




<section class="portfolio" id="portfolio">
    <h2 class="headingg">Our <span>Achivements</span></h2>
    <div class="portfolio-container">
        <div class="portfolio-box">
            <img src="{% static 'image/qua.png' %}" alt="Project Image">
            <div class="portfolio-layer">
                <h4>Our Qualifications <i class="fa-solid fa-user-graduate"></i></h4>
                <p>"I hold a strong technical foundation with a 12th qualification, an ITI certification, and a Diploma.
                    This diverse background combines solid theoretical knowledge with hands-on practical skills. I,
                    precise execution, and problem-solving,impactful results in any professional environment."</p>
                <a href="/qualification/" class="viewe">View <i class="fa-solid fa-share-from-square"></i> </a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="{% static 'image/cer.png' %}" alt="Project Image">
            <div class="portfolio-layer">
                <h4>Certifications <i class="fa-solid fa-award"></i></h4>
                <p>"I have enhanced my technical expertise through specialized industry certifications that validate my
                    skills. These credentials complement my practical education, With validated expertise, I am equipped to handle
                    specialized tasks with precision and deliver industry-grade results in every project."</p>
                <a href="#" class="viewe">View <i class="fa-solid fa-share-from-square"></i> </a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="{% static 'image/portfolio3.webp' %}" alt="Project Image">
            <div class="portfolio-layer">
                <h4>Comming soon..</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#" class="viewe">View <i class="fa-solid fa-share-from-square"></i> </a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="{% static 'image/portfolio2.jpg' %}" alt="Project Image">
            <div class="portfolio-layer">
                <h4>Comming soon..</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#" class="viewe">View <i class="fa-solid fa-share-from-square"></i> </a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="{% static 'image/portfolio5.jpg' %}" alt="Project Image">
            <div class="portfolio-layer">
                <h4>Comming soon..</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#" class="viewe">View <i class="fa-solid fa-share-from-square"></i> </a>
            </div>
        </div>

        <div class="portfolio-box">
            <img src="{% static 'image/portfolio6.jpg' %}" alt="Project Image">
            <div class="portfolio-layer">
                <h4>Comming soon..</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#" class="viewe">View <i class="fa-solid fa-share-from-square"></i> </a>
            </div>
        </div>


    </div>
</section>

{% endblock %}