{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="services" id="services">
    <h2 class="headingg">Our <span>Services</span></h2>

    <div class="service-container">
        <div class="service-box">
            <i class='bx bxs-paint'></i>
            <h3>Web Design</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            <a href="#" class="btn">Read More</a>
        </div>

        <div class="service-box">
            <i class='bx bxs-code-alt'></i>
            <h3>Web Development</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            <a href="#" class="btn">Read More</a>
        </div>

        <div class="service-box">
            <i class='bx bxs-mobile-alt'></i>
            <h3>Responsive Design</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </div>
</div>

{% endblock %}